.dashboard {
  flex: 1;
  display: flex;
  flex-flow: row wrap;

  &--item {
    border-radius: 5px;
    background: $bg-white;
    margin: 1em 0 0 1em;
    display: block;
    padding: 1em;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.05);

    &-pie {
      width: 332px;
      height: 220px;
    }

    &-stats {
      width: 332px;
      height: 220px;
    }

    &-rapport {
      width: 800px;
      height: 488px;
      padding-left: 0;

      .dashboard--title {
        padding-left: 1em;
      }
    }
  }

  &--title {
    margin: 0.5em 0;
    font-size: 1.3em;
  }

  &--number {
    display: inline-block;
    vertical-align: top;
    margin: 1em 0 0 1em;
    width: 130px;
    height: 130px;
    text-align: center;
    border-radius: 50%;
    border: 0.4rem solid #8884d8;

    &-title {
      display: block;
      text-align: center;
      font-size: 1em;
      margin-bottom: 0.5em;
      position: relative;
      top: 20%;
      color: #666;
    }

    &-value {
      display: block;
      font-size: 2.6em;
      position: relative;
      top: 20%;
    }
  }
}
