.filter {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.2em 0 0;
  color: #222;
  font-size: 0.9em;
  padding: 0.3em;
  position: relative;
  border-radius: 5px;

  &--icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.2em;
    fill: #888;
    cursor: pointer;
    transition: fill 0.2s ease;

    &:hover {
      fill: #444;
    }
  }

  &--popup {
    position: absolute;
    right: 0;
    top: 4rem;
    width: 400px;
    background: white;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 1em 0.5em;
  }
}
