.filter {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.2em 0 0;
  color: #222;
  font-size: 0.9em;
  padding: 0.3em;
  position: relative;
  border-radius: 3px;

  &--icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.2em;
    fill: #888;
    cursor: pointer;
  }

  &--popup {
    position: absolute;
    right: 0;
    top: 4rem;
    width: 400px;
    background: white;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0 1em 0.5em;
  }
}
