.header {
  width: 100%;
  z-index: 20;
  flex: 0 0 auto;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2em;
  background-color: $bg-white;

  &--logo {
    padding: 0.5em 0;
    height: 2.4rem;
    margin: 0 1.4rem;

    img {
      height: 100%;
    }

    span {
      font-weight: bold;
      opacity: 0.8;
      color: $bgt-text-color;
      vertical-align: top;
      height: 2.4rem;
      line-height: 2.4rem;
      font-size: 1.1em;
      margin-left: 0.5em;
      display: inline-block;
      font-family: $font-header;
    }
  }

  &--navigation {
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;

    a {
      font-size: 1rem;
      font-family: $font-header;
      color: rgba($bgt-text-color, 0.6);
      display: inline-block;
      text-decoration: none;
      padding: 1.2rem 1.5rem;

      &.active {
        color: $bgt-text-color;
        border-bottom: 3px solid $bgt-text-color;
        padding-bottom: calc(1.2rem - 2px);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &--icons {
    padding: 0.5em 0;

    .menu-button {
      float: right;
    }
  }
}
