.leaflet-container {
  flex: 1;
  z-index: 0;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 0;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.leaflet-bottom {
  display: none;
}
