.olControlLoadingPanel {
  display: none !important;
}

.olControlZoom {
  bottom: 8px !important;
  top: auto !important;
}

.olControlAttribution.olControlNoSelect {
  display: none;
}

.maximizeDiv.olButton {
  display: none;
}

#map_1394 {
}
