.sidebar {
  $size: 4rem;
  $icon-size: $size * 0.45;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 $size;
  width: $size;
  background: $bg-white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 5;

  &--item {
    padding: ($size - $icon-size) / 2;
    margin: 0;
    cursor: pointer;

    &.active svg {
      fill: $bgt-highlight;
    }

    &:hover:not(.active) svg {
      transform: scale(1.1);
    }

    svg {
      width: $icon-size;
      height: $icon-size;
      fill: #ccc;
      transform: scale(1);
      transition: fill 0.2s ease, transform 0.1s ease;
    }
  }
}
