.ReactTable {
  flex: 1;
  margin: 1em 0 0;
  padding: 0 1em;
  border: 0;

  .rt-thead.-header {
    box-shadow: none;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;

    .rt-th {
      text-align: left;
      padding-left: 1.5em;
    }

    .rt-th {
      &.-sort-desc,
      &.-sort-asc {
        box-shadow: none;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          right: 1em;
          top: 0.6em;
          width: 7px * 22 / 12;
          height: 7px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left center;
          opacity: 0.4;
        }
      }

      &.-sort-desc {
        &:after {
          background-image: url('../assets/sort-desc.svg');
        }
      }

      &.-sort-asc {
        &:after {
          background-image: url('../assets/sort-asc.svg');
        }
      }
    }
  }

  .rt-tbody .rt-tr-group {
    background: $bg-white;
    border-bottom: 0;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 5px;
  }

  button,
  select,
  input,
  .-pageInfo {
    font-family: $font-text;
  }

  .pagination-bottom {
    .-pagination {
      border: 0;
      box-shadow: none;
      padding: 1.5em;
      padding-right: 4.5em;
    }
  }

  .rt-th.rt-resizable-header {
    padding-right: 25px !important;
  }
}
