$font-text: 'Lato', sans-serif;
$font-header: 'Montserrat', sans-serif;

$bg: #f4f8f9;
$bg-white: #fff;
$success-color: #28a745;
$danger-color: #dc3545;
$bgt-text-color: #00295d;
$bgt-highlight: #106bf7;
