$font-text: 'Lato', sans-serif;
$font-header: 'Montserrat', sans-serif;

$bg: #f4f8f9;
$bg-white: #fff;
$bgt-text-color: #00295d;
$bgt-highlight: #106bf7;

@import 'components/header';
@import 'components/map';
@import 'components/sidebar';
@import 'components/search';
@import 'components/filter';
@import 'components/table';
@import 'components/dashboard';
@import 'components/login';

@import 'util/menu-button';
@import 'util/create-button';
@import 'util/modal';
@import 'util/icons';
@import 'util/spinner';
@import 'util/form';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: $font-text;
  background: $bg;
}

.hidden {
  display: none;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column nowrap;
  position: relative;

  &--content {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }
}
