$font-text: 'Lato', sans-serif;
$font-header: 'Montserrat', sans-serif;

$bg: #F4F8F9;
$bg-white: #FFF;
$bgt-text-color: #00295d;
$bgt-highlight: lighten($bgt-text-color, 20%);

@import 'components/header';
@import 'components/map';
@import 'components/sidebar';
@import 'components/search';
@import 'components/filter';
@import 'components/table';
@import 'components/dashboard';

@import 'util/menu-button';
@import 'util/create-button';
@import 'util/modal';
@import 'util/icons';

body {
  font-family: $font-text;
  background: $bg;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: column nowrap;
  overflow-x: hidden;
  position: relative;

  &--content {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;

    & > span {
      display: flex;
      flex: 1;
    }
  }
}
