.form {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 1rem;
  min-width: 30rem;
  width: 100%;

  &__item {
    margin: 0.25em 0;
    display: block;

    .DayPickerInput input {
      margin: 0;
    }

    .DayPickerInput,
    .input {
      display: block;
      margin: -0.2em 0 0;
      width: 100% !important;
    }

    .label {
      color: #666;
      padding-right: 1em;
      text-align: left;
      line-height: 2rem;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }

  &__error {
    max-width: none;
    padding: 0.2em 0.5em;
    align-items: center;
    margin-top: 1em;

    svg {
      width: 1.5em;
      padding: 0 0.5em;
    }
  }
}

.Select {
  flex: 1;
}

.table {
  & + * {
    margin-top: 1rem;
  }

  &__name {
    text-align: right;
    vertical-align: top;
  }

  &__value {
    font-weight: bold;

    &.no-value {
      font-weight: normal;
    }
  }

  & + .icon {
    top: 3em;
    right: 1em;
    position: absolute;
    float: right;
    width: 1.5em;
    height: 1.5em;
    fill: #888;
    transition: fill 0.2s ease;
    cursor: pointer;

    &:hover {
      fill: #222;
    }
  }
}
