.form {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 1rem;

  &__item {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.25em 0;

    .input {
      width: 25rem;
      margin: 0.2em 0;
    }

    .label {
      color: #444;
      padding-right: 1em;
      width: 7em;
      text-align: right;
      line-height: 2rem;
    }
  }

  &__error {
    max-width: none;
    padding: 0.2em 0.5em;
    align-items: center;
    margin-top: 1em;

    svg {
      width: 1.5em;
      padding: 0 0.5em;
    }
  }
}

.Select {
  flex: 1;
}
