.filter {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.2em 0 0;
  color: #222;
  transform: translateY(0.1em);
  font-size: 0.9em;
  padding: 0.3em;
  position: relative;
  border-radius: 5px;

  .icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.2em;
    fill: #888;
    cursor: pointer;
    transition: fill 0.2s ease;

    &:hover {
      fill: #444;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    top: 4rem;
    width: 30rem;
    background-color: white;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 1em 0.5em;
  }

  &__list {
  }
}

.button {
  &__filter {
    color: #444;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    width: 100%;
    margin-left: 0 !important;

    &--active {
      color: $bg-white;
      background: $success-color;
      border-color: transparent;
    }
  }

  .divide {
    margin: 0 0.5em;
  }
}
