.header {
  width: 100%;
  z-index: 20;
  flex: 0 0 auto;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2em;
  background-color: $bg-white;

  &__logo {
    padding: 0.5em 0;
    height: 2.4rem;
    margin: 0 1.4rem;

    img {
      height: 100%;
    }

    span {
      font-weight: bold;
      opacity: 0.8;
      color: $bgt-text-color;
      vertical-align: top;
      height: 2.4rem;
      line-height: 2.4rem;
      font-size: 1.1em;
      margin-left: 0.5em;
      display: inline-block;
      font-family: $font-header;

      &.header__current-route {
        margin-left: 1em;
        opacity: 0.5;
        font-size: 0.9em;
      }
    }
  }

  &__icons {
    margin-left: auto;
    padding: 0.5em 0;

    .menu-button {
      float: right;
    }
  }
}
