.search {
  display: inline-block;
  margin-right: 1.4rem;
  height: 2rem;
  transform: translateY(0.1em);
  position: relative;

  &.search--is-closed {
    .search__input {
      transform: scaleX(0);
      width: 0;
    }

    .icon {
      transform: translateY(100%) scale(1.2);
      fill: #888;
      pointer-events: all;
      transition: fill 0.2s ease;

      &:hover {
        fill: #444;
      }
    }
  }

  &--has-results &__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__input {
    box-sizing: border-box;
    padding: 0.3em 2em 0.3em 0.8em;
    width: 20em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 5;
    position: relative;
    border-radius: 5px;
    color: #222;
    transition: transform 0.2s ease, border-color 0.2s ease;
    will-change: transform;
    transform-origin: center right;
    font-family: $font-text;

    &:focus {
      border-color: rgba(0, 0, 0, 0.2);

      & + .icon {
        fill: #888 !important;
      }
    }
  }

  .icon {
    position: absolute;
    width: 1em;
    height: 1em;
    z-index: 10;
    top: -0.7em;
    transform: translateY(100%) scale(1);
    right: 0.5em;
    fill: #ccc;
    cursor: pointer;
    transition: transform 0.2s ease, fill 0.2s ease;
    pointer-events: none;
  }

  &__dropdown {
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    z-index: 2;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;

    &:hover &-item:not(:hover):first-child {
      background-color: initial;
    }

    &-item {
      font-size: 0.9em;
      color: #444;
      padding: 0.25em 0.5em;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        background-color: rgba($bgt-highlight, 0.2);
        color: #000;
      }

      &:last-child {
        padding-bottom: 0.5em;
      }

      &:first-child {
        background-color: rgba($bgt-highlight, 0.2);
      }
    }
  }
}
