.dashboard {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  &__item {
    border-radius: 5px;
    background-color: $bg-white;
    margin: 1em 0 0 1em;
    display: block;
    padding: 1em;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.05);

    &--pie {
      width: 332px;
      height: 220px;
    }

    &--stats {
      width: 332px;
      height: 220px;
    }

    &--priorities {
      width: 800px;
      padding-left: 0;
      padding-right: 0;

      .dashboard__title {
        padding-left: 1em;
      }

      .status {
        &.status {
          &--red::before {
            background-color: #b83333;
          }
          &--green::before {
            background-color: #64bd55;
          }
          &--yellow::before {
            background-color: #c9b81c;
          }
          &--blue::before {
            background-color: #3c87bd;
          }
        }

        &::before {
          content: '';
          display: block;
          float: left;
          margin-right: 0.8em;
          margin-left: 0.2em;

          $size: 0.7rem;

          border-radius: 50%;
          margin-top: 0.3rem;
          width: $size;
          height: $size;
          display: block;
          background-color: #b8b8b8;
        }
      }

      .ReactTable .rt-tbody .rt-tr-group {
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
        border-top: 1px solid #e2e2e2;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  &__title {
    margin: 0.5em 0;
    font-size: 1.3em;
    letter-spacing: 0.5px;
  }

  &__number {
    display: inline-block;
    vertical-align: top;
    margin: 1em 0 0 1em;
    width: 130px;
    height: 130px;
    text-align: center;
    border-radius: 50%;
    border: 0.4rem solid #8884d8;

    &-title {
      display: block;
      text-align: center;
      font-size: 1em;
      margin-bottom: 0.5em;
      position: relative;
      top: 22%;
      color: #666;
    }

    &-value {
      display: block;
      font-size: 2.6em;
      position: relative;
      top: 25%;
    }
  }
}

.recharts-wrapper {
  display: flex;
  justify-content: space-between;
}
