.bar-chart {
  flex: 1;
  display: flex;
  overflow: hidden;

  > span {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  &--bar {
    background: rgba(0, 0, 0, 0.4);
    flex: 1;
    margin: 0 1em;
  }
}

.bar-animation {
  &-appear {
    opacity: 0.01;
    transform: translateY(100%);

    &-active {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &-enter {
    opacity: 0.01;
    transform: translateY(100%);

    &-active {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &-leave {
    opacity: 1;
    transform: translateY(0);

    &-active {
      opacity: 0.01;
      transform: translateY(100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
  }

}
