.form {
  display: flex;
  flex-flow: column nowrap;

  &--item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 0 0;

    .input {
      width: 25rem;
    }

    .label {
      color: #444;
      padding-right: 1em;
      width: 7em;
      text-align: right;
    }
  }

  &--error {
    max-width: none;
    padding: 0.2em 0.5em;
    align-items: center;
    margin-top: 1em;

    svg {
      width: 1.5em;
      padding: 0 0.5em;
    }
  }
}
