$header-size: 3.65em;
$sidebar-size: 4em;

.modal {
  position: fixed;
  width: 80vw;
  height: 60vh;
  top: calc(20vh + #{$header-size / 2});
  left: calc(10vw + #{$sidebar-size / 2});
  background: #fff;
  z-index: 5;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  &--title {
    font-size: 1.6em;
    margin: 2rem 2rem 0;
  }

  &--overlay {
    position: absolute;
    top: $header-size;
    left: $sidebar-size;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
    z-index: 0;
    transition: opacity 0.3s ease;

    &:not(.visible) {
      pointer-events: none;
      opacity: 0;
    }
  }

  &--close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    button {
      background: none;
      border: 0;
      outline: none;
    }
  }

  &--body {
    padding: 0 2rem;
    flex: 1;
  }

  &--footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background: #E2E2E2;

    .button:first-child {
      margin-right: 1em;
    }
  }
}

.modal-animation-appear {
  opacity: 0.01;
  transform: scale(0);

  &.modal-animation-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}

.modal-animation-enter {
  opacity: 0.01;
  transform: scale(0);

  &.modal-animation-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}

.modal-animation-leave {
  opacity: 1;
  transform: scale(1);

  &.modal-animation-leave-active {
    opacity: 0.01;
    transform: scale(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}

.button {
  background: none;
  outline: none;
  border: 0;
  font-family: $font-text;
  padding: 0.8em 1em;
  border-radius: 5px;
  display: block;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &--confirm {
    background-color: $bgt-highlight;
    color: $bg-white;

    &:hover {
      background-color: lighten($bgt-text-color, 10%);
    }
  }

  &--cancel {
    background-color: transparent;

    &:hover {
      background-color: $bg-white;
    }
  }
}
