$header-size: 3.65em;
$sidebar-size: 4em;

.modal {
  position: fixed;
  top: calc(50% + #{$header-size / 2});
  left: calc(50% + #{$sidebar-size / 2});
  background: $bg-white;
  z-index: 5;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column nowrap;
  opacity: 0;
  transform-origin: 100vw 100vh;
  transform: scale(0) translate(0, 0);
  will-change: transform, opacity;
  backface-visibility: hidden;

  &--button {
    &-left + .button {
      margin-left: auto;
    }
  }

  &--title {
    font-size: 1.4em;
    letter-spacing: 0.5px;
    margin: 2rem 2rem 1rem;

    .icon {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-right: 1.8rem;
      cursor: default;

      span {
        background-color: $bgt-highlight;
      }

      &::after {
        $size: 0.4em;

        content: '';
        left: -$size;
        top: -$size;
        bottom: -$size;
        right: -$size;
        position: absolute;
        text-align: center;
        border-radius: 50%;
        background-color: lighten($bgt-highlight, 37.5%);
        fill: white;
        z-index: -1;
        box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.05);
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &--overlay {
    position: absolute;
    top: $header-size;
    left: $sidebar-size;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
    z-index: 0;
    transition: opacity 0.3s ease;

    &:not(.visible) {
      pointer-events: none;
      opacity: 0;
    }
  }

  &--close {
    position: absolute;
    top: 1em;
    right: 1em;

    button {
      background: none;
      border: 0;
      outline: none;
    }
  }

  &--body {
    padding: 0 1rem;
    flex: 1;
  }

  &--footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background: #e9e9e9;
    margin-top: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .button:first-child {
      margin-right: 1em;
    }
  }

  &--popup {
    min-width: 30rem;
  }
}

.modal-animation-appear {
  opacity: 0.01;
  transform: scale(0);

  &.modal-animation-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}

.modal-animation-enter {
  opacity: 0.01;
  transform: scale(0);

  &.modal-animation-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}

.modal-animation-leave {
  opacity: 1;
  transform: scale(1);

  &.modal-animation-leave-active {
    opacity: 0.01;
    transform: scale(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}

.button {
  background: none;
  outline: none;
  border: 0;
  font-family: $font-text;
  letter-spacing: 0.5px;
  padding: 0.8em 1em;
  border-radius: 5px;
  display: block;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &--confirm,
  &--edit {
    background-color: $bgt-highlight;
    color: $bg-white;
    outline: none;
    box-shadow: 0 3px 6px 3px rgba($bgt-highlight, 0.1);

    &:hover {
      background-color: darken($bgt-highlight, 10%);
    }

    &:active {
      background-color: darken($bgt-highlight, 15%);
    }

    &:focus {
      box-shadow: 0 3px 6px 3px rgba($bgt-highlight, 0.2);
    }
  }

  &--cancel {
    color: #222222;
    background-color: transparent;

    &:hover {
      background-color: $bg-white;
    }

    &:focus {
      background-color: darken($bg-white, 5%);
    }
  }
}
