.create-button {
  $size: 45px;

  width: $size;
  height: $size;
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: $bgt-highlight;
  border-radius: 50%;
  display: block;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
  cursor: pointer;

  .icon {
    $icon-size: $size * 0.5;
    $icon-width: $size * 0.08;

    span {
      background-color: #fff;

      &:first-child {
        width: $icon-size;
        height: $icon-width;
        transform: translate($icon-width * 3, $size / 2 - $icon-width / 2);
      }

      &:last-child {
        width: $icon-width;
        height: $icon-size;
        transform: translate($size / 2 - $icon-width / 2, $icon-width * 3);
      }
    }
  }

  &:hover {
    background-color: darken($bgt-highlight, 10%);
  }

  &:active {
    background-color: darken($bgt-highlight, 15%);
  }
}
